<style media="screen">
  .layout_1-column {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .layout_1-column:after {
    content: "";
    display: table;
    clear: both;
  }

  .zone_top {
    margin: 0;
    padding: 5px;
    vertical-align: top;
    line-height: normal;
    min-width: 100px;
  }
</style>

<div class="layout_1-column sys_layout">
    <div id="layout_row1">
        <% region name="sys_region_1" tagName="div" description="Insert widgets here" class="zone_top"%>
    </div>
</div>
