

/* ------------------------------------------------------------------------- */
/*
        Global
*/
/* ------------------------------------------------------------------------- */


body{
    margin:0;
    padding:0;
    font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
    background:#fff;
    font-size:13px;
}

*{outline:none !important;}

img{
    max-width:100% !important;
}

a{
    color:#0085cd;
}

a img{border:none;}


/* ------------------------------------------------------------------------- */
/*
        Body
*/
/* ------------------------------------------------------------------------- */


div.ysm_wrap{
    width:100%;
}

div.ysm_wrap_inner{
    padding:0 10px;
}


/* ------------------------------------------------------------------------- */
/*
        Header
*/
/* ------------------------------------------------------------------------- */


div.ysm_bar{
    background-color:<% IFPROPERTY format='%s' name='mobile.header.background-color' %>;
    padding:0;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .4) 0%, transparent 100%);
    background-image:  -khtml-linear-gradient(top, rgba(255, 255, 255, .4) 0%, transparent 100%);
    background-image:    -moz-linear-gradient(top, rgba(255, 255, 255, .4) 0%, transparent 100%);
    background-image:     -ms-linear-gradient(top, rgba(255, 255, 255, .4) 0%, transparent 100%);
    background-image:      -o-linear-gradient(top, rgba(255, 255, 255, .4) 0%, transparent 100%);
    background-image:         linear-gradient(top, rgba(255, 255, 255, .4) 0%, transparent 100%);
    text-align:center;
    position:relative;
}

div.ysm_bar a{
    color:#fff;
}

div.ysm_bar h1{
    margin:0;
    padding:13px 15px 10px 15px;
    font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;
    font-size:20px;
    font-weight:bold;
    color:<% IFPROPERTY format='%s' name='mobile.header.font-color' %>;
}

div.ysm_bar h1 a{
    color:<% IFPROPERTY format='%s' name='mobile.header.font-color' %>;
    text-decoration:none;
    <% if $uniproperties.mobile.header.font-color == '#FFFFFF' %>
        text-shadow:0 1px 0 rgba(0, 0, 0, .5);
    <% /if %>
}


/* ------------------------------------------------------------------------- */
/*
        Buttons
*/
/* ------------------------------------------------------------------------- */


div.ysm_buttons{
    padding:5px 0 0 0;
    text-align:center;
    border-bottom:5px solid #5e605f;
    border-bottom:5px solid rgba(39, 41, 40, .85);
}

div.ysm_buttons td{
    vertical-align:bottom;
}

div.ysm_buttons td.spacer div{
    width:8px;
    font-size:0;
}

div.ysm_buttons_open td.shadow{
    -webkit-box-shadow:0 -1px 0 rgba(0, 0, 0, .3) inset;
     -khtml-box-shadow:0 -1px 0 rgba(0, 0, 0, .3) inset;
       -moz-box-shadow:0 -1px 0 rgba(0, 0, 0, .3) inset;
        -ms-box-shadow:0 -1px 0 rgba(0, 0, 0, .3) inset;
         -o-box-shadow:0 -1px 0 rgba(0, 0, 0, .3) inset;
            box-shadow:0 -1px 0 rgba(0, 0, 0, .3) inset;
}

div.ysm_buttons a{
    display:inline-block;
    margin:0;
    background:#5e605f;
    background:rgba(94, 96, 95, .85);
    background:-webkit-linear-gradient(top, rgba(157, 157, 159, .85) 0%, rgba(39, 41, 40, .85) 100%);
    background: -khtml-linear-gradient(top, rgba(157, 157, 159, .85) 0%, rgba(39, 41, 40, .85) 100%);
    background:   -moz-linear-gradient(top, rgba(157, 157, 159, .85) 0%, rgba(39, 41, 40, .85) 100%);
    background:    -ms-linear-gradient(top, rgba(157, 157, 159, .85) 0%, rgba(39, 41, 40, .85) 100%);
    background:     -o-linear-gradient(top, rgba(157, 157, 159, .85) 0%, rgba(39, 41, 40, .85) 100%);
    background:        linear-gradient(top, rgba(157, 157, 159, .85) 0%, rgba(39, 41, 40, .85) 100%);
    -webkit-border-radius:5px;
     -khtml-border-radius:5px;
       -moz-border-radius:5px;
        -ms-border-radius:5px;
         -o-border-radius:5px;
            border-radius:5px;
    font-size:15px;
    border:1px solid #5e605f;
    border:1px solid rgba(94, 96, 95, .85);
    border-bottom:1px solid #111;
    text-align:center;
    font-weight:normal;
    color:#fff;
    cursor:pointer;
    text-decoration:none;
    text-shadow:0 1px 0 rgba(0, 0, 0, .2);
    margin-right:10px;
    margin-bottom:6px;
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 1px 0 rgba(0, 0, 0, .2);
     -khtml-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 1px 0 rgba(0, 0, 0, .2);
       -moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 1px 0 rgba(0, 0, 0, .2);
        -ms-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 1px 0 rgba(0, 0, 0, .2);
         -o-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 1px 0 rgba(0, 0, 0, .2);
            box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 1px 0 rgba(0, 0, 0, .2);
}

div.ysm_buttons a span.text{
    padding:8px 15px 8px 31px;
    display:inline-block;
}

a#ysm_menu_toggle{
    margin:0;
    -webkit-border-radius:5px 5px 0 0;
     -khtml-border-radius:5px 5px 0 0;
       -moz-border-radius:5px 5px 0 0;
        -ms-border-radius:5px 5px 0 0;
         -o-border-radius:5px 5px 0 0;
            border-radius:5px 5px 0 0;
    border-bottom:none;
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset;
     -khtml-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset;
       -moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset;
        -ms-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset;
         -o-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset;
            box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset;
}

a#ysm_menu_toggle span.text{
    padding:8px 15px 15px 31px;
}

a#ysm_call_button span.text{
    background:url(<% 'templates/Mobile/resources/icon-call.png'|anticache %>) 7px center no-repeat;
}

a#ysm_map_button span.text{
    background:url(<% 'templates/Mobile/resources/icon-map.png'|anticache %>) 7px center no-repeat;
}

a#ysm_menu_toggle span.text{
    background:url(<% 'templates/Mobile/resources/arrow-up.png'|anticache %>) 7px center no-repeat;
}

div.ysm_buttons_closed a#ysm_menu_toggle span.text{
    background:url(<% 'templates/Mobile/resources/arrow-down.png'|anticache %>) 7px center no-repeat;
}

div.ysm_buttons_open{
    border-bottom:5px solid rgba(0, 0, 0, .15);
}

div.ysm_buttons_closed a#ysm_menu_toggle{
    color:#fff !important;
}

div.ysm_buttons_open a#ysm_menu_toggle{
    border:1px solid rgba(0, 0, 0, .2);
    border-bottom:none;
    background:rgba(0, 0, 0, .15);
    text-shadow:none;
    color:<% IFPROPERTY format='%s' name='mobile.header.font-color' %>;
    -webkit-box-shadow:none;
     -khtml-box-shadow:none;
       -moz-box-shadow:none;
        -ms-box-shadow:none;
         -o-box-shadow:none;
            box-shadow:none;
    <% if $uniproperties.mobile.header.font-color == '#FFFFFF' %>
        text-shadow:0 1px 0 rgba(0, 0, 0, .5);
    <% /if %>
}


/* ------------------------------------------------------------------------- */
/*
        Banner
*/
/* ------------------------------------------------------------------------- */


div.ysm_banner img{
    width:100%;
}


/* ------------------------------------------------------------------------- */
/*
        Menu
*/
/* ------------------------------------------------------------------------- */


div#ysm_menu{
    background-color:<% IFPROPERTY format='%s' name='mobile.header.background-color' %>;
    display:none;
}


div#ysm_menu.open{
    display:block;
}

div#ysm_menu ul{
    margin:0;
    padding:0;
    list-style:none;
    background:rgba(0, 0, 0, .15);
    border-bottom:5px solid #5e605f;
    border-bottom:5px solid rgba(39, 41, 40, .85);
}

div#ysm_menu ul ul{
    background:rgba(0, 0, 0, .1);
    -webkit-box-shadow:0 0 3px rgba(0, 0, 0, .3) inset;
     -khtml-box-shadow:0 0 3px rgba(0, 0, 0, .3) inset;
       -moz-box-shadow:0 0 3px rgba(0, 0, 0, .3) inset;
        -ms-box-shadow:0 0 3px rgba(0, 0, 0, .3) inset;
         -o-box-shadow:0 0 3px rgba(0, 0, 0, .3) inset;
            box-shadow:0 0 3px rgba(0, 0, 0, .3) inset;
    border-bottom:none;
}

div#ysm_menu ul li{
    display:block;
    border-bottom:1px solid rgba(0, 0, 0, .3);
}

div#ysm_menu ul ul li.single,
div#ysm_menu ul ul li.last{
    border-bottom:none;
}

div#ysm_menu ul li a{
    text-decoration:none;
    color:<% IFPROPERTY format='%s' name='mobile.header.font-color' %>;
    display:block;
    padding:12px 15px 13px 15px;
    <% if $uniproperties.mobile.header.font-color == '#FFFFFF' %>
        text-shadow:0 1px 0 rgba(0, 0, 0, .5);
    <% /if %>
}

div#ysm_menu ul ul li a{
    padding:12px 15px 13px 35px;
    font-size:12px;
}

div#ysm_menu ul ul li.single a,
div#ysm_menu ul ul li.last a{
}

div#ysm_menu ul li.selected a{
    font-weight:bold;
}


/* ------------------------------------------------------------------------- */
/*
        Footer Link
*/
/* ------------------------------------------------------------------------- */


div.ysm_switch_mode{
    text-align:center;
    padding:25px 0;
}



/* ------------------------------------------------------------------------- */
/*
        Widget Overrides
*/
/* ------------------------------------------------------------------------- */


.Horizontal_Line_Default div{
    border-bottom-width:1px !important;
    border-bottom-style:solid !important;
    border-bottom-color:#ccc !important;
}