<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <% HEADER %>
</head>

<body id="sys_background">
<div id="logo">
  <% HEADING %>
</div>
<div id="content">

  <div id="main">
    <% CONTENT %>
  </div>
  <div id="extra"></div>
  <div id="sidebar">
    <div id="menu">
      <% PRIMARY_MENU submenutype=flyover %>
    </div>
  </div>

</div>
<% FOOTER %><% DESIGNERFOOTER%>
  <% YOLACREDIT %><% TRACKING %></body>

</html>
